---
---

/*
    Gavin St. George
    CSCI 626
    Project 3
    Fall 2023
*/

@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";

$theme-colors: (
  primary:   $indigo,
  secondary: #e9ecef,
  success:   $success,
  info:      $info,
  warning:   $warning,
  danger:    $danger,
  light:     $light,
  dark:      $dark

);

body {
    background-color: #f8f9fa !important;
}

.key-value {
    cursor: pointer;
}

@import "bootstrap/scss/bootstrap";